:host {
  .form {
    background-color: aliceblue;
    border: solid #dee2e6;
    padding: 0.5rem 1rem;
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    // border-top-left-radius: .25rem;
    border-radius: .25rem;
  }
}