@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/mixins/_breakpoints';

:host {
  .content {
    > * {
      margin-bottom: 0.25rem;
    }
    .header {
      padding-top: 0.5rem;
      font-size: 1.5rem;
      font-weight: bold;
    }
    .meta {
      color: gray;
    }
  }
  ::ng-deep .price-display {
    background-color: mistyrose;
    border-radius: 0.25rem;
    border: 1px dotted;
    padding: 0.25rem 0.5rem;
    @include media-breakpoint-up(sm) {
      margin-top: 1.5rem;
      margin-right: 1rem;
    }
    @include media-breakpoint-down(sm) {
      margin-top: 0;
      margin-right: 0;
    }
  }
  .product-image {
    width: 100%;
    border: 100px;
  }
}